<h1>My Todo App</h1>






<div style="float: left; width: 200px;">
<h3>Catagories</h3>

<ul>
  <li *ngFor="let obj of getCategoriesWithCounts()" (click)="selectedcatagory = obj.name">
    <span>{{obj.name}}</span> 
    <span style="float: right;">{{obj.count}}</span> 

  </li>
</ul>
</div>

<div style="float: left; width: 400px;">
  <h3>{{selectedcatagory}} Tasks</h3>
  <ul>
    <li *ngFor="let task of getfilteredtask()"  (click)="changestatus(task)">
      {{task.text}}
      <button (click)="delete(task)">Delete</button>
    </li>
  </ul>
</div>









<div><input [(ngModel)]="newtask" (keydown.enter)="addtask()" placeholder="Enter New Task">
  <button (click)="addtask()">Add Task</button>
</div>


